* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  min-width: 350px;
  min-height: 200px;
  color: white;
  background-image: url('../assets/slime.jpg');
}
a {
  font-size: 12px;
  text-decoration: none;
  color: #99FF00;
}
.nav li {
  
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
}
.nav li:first-child {
  border-radius: 10px 0 0 10px;
}
.nav li:last-child {
  border-radius: 0 10px 10px 0;
}
.nav li:hover {
  background-color: grey;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
.scary {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: grey;
  padding: 15px;
  display: inline-block;
  background-color: black;
  opacity: 0.75;
  border-radius: 30px;
  color: #99FF00;
  font-family: 'Nosifer', 'cursive';
  font-size: 20px;
  text-align: center;
}
.error {
  border: 2px solid red;
  border-radius: 5px;
}
.center {
  display: block;
  margin: 5px auto;
  max-width: 300px;
  padding: 5px;
}
.container {
  margin: 15px 0 0 15px;
}
.site, form {
  margin-left: 15px;
}
.site div {
  display: inline;
}
.site button {
  display: inline;
  padding: 3px;
}
button {
  padding: 3px;
  margin: 3px;
}