* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  min-width: 350px;
  min-height: 200px;
  background-image: url('../assets/slime.jpg');
  background-color: black;
}

h1 {
  margin-top: 20px;
}

.nav button {
  border-radius: 15px;
  font-size: 12px;
  color: #99FF00;
  margin: 0 auto;
  position: relative;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
}

.nav button:hover {
  background-color: grey;
}

.scary {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: grey;
  padding: 15px;
  display: inline-block;
  background-color: black;
  opacity: 0.75;
  border-radius: 30px;
  color: #99FF00;
  font-family: 'Nosifer', 'cursive';
  font-size: 20px;
  text-align: center;
}
.error {
  border: 2px solid red;
  border-radius: 5px;
}

.center {
  display: block;
  margin: 5px auto;
  max-width: 300px;
  padding: 5px;
}


.site div {
  display: inline;
}

.site button {
  display: inline;
  padding: 3px;
}

button {
  padding: 3px;
  margin: 3px;
} 