<div ng-controller="GenerateCtrl">
  <form name='gen'>
    <input  name='site' type="text" ng-model='userSite' required placeholder="Enter a Site Name" />
    <input  name='pass' type="password" ng-model='userPass' required placeholder="Enter your Master Password" />
    <button ng-click="genPassword()"> Zombify my Password!</button>
    <button ng-disabled="gen.$error.required" ng-click="savePassword()">Save me! Save my PASSWORD!</button>
  </form>
    <h1>{{brainGen}}</h1>
    <h2 ng-show="pwWrong">Wrong Password, try again</h2>
</div>