<div ng-controller="GenerateCtrl">
  <form name='gen'>
    <input class="center" name='site' type="text" ng-model='userSite' required placeholder="Enter a Site Name" />
    <input  class="center" name='pass' type="password" ng-model='userPass' required ng-class="{'error': pwWrong }" placeholder="Enter your Password" />
    <button class="center" ng-click="genPassword()"> Zombify my Password!</button>
    <button class="center" ng-disabled="gen.$error.required" ng-click="savePassword()">Save me! Save my PASSWORD!</button>
    <h2 class="scary center" ng-show="pwWrong" >Wrong Password, try again</h2>
  </form>
    <h1 ng-show="brainGen" class="scary center">{{brainGen}}</h1>
</div>